<div class="container">
  <%= render partial: 'shared/messages' %>

  <h2 id="support">Make a Phone Call</h2>

  <p class="lead">
  Talk with one of our support agents right now by clicking the "Call Support" button on the right. If you can't talk now, fill out a support ticket and an agent will call you later.
  </p>

  <div class="row">

    <div class="col-md-6 col-md-push-6">

      <div class="panel panel-info client-controls">
        <div class="panel-heading">
          <h3 class="panel-title">Talk to support now</h3>
        </div>
        <div class="panel-body">
          <p><strong>Status</strong></p>
          <div class="well well-sm" id="call-status">
            Connecting to Twilio...
          </div>
          <div>
            <button class="btn btn-lg btn-primary" id="ready-button">
              Ready
            </button>
          </div>
          <div>
            <button class="btn btn-lg btn-primary call-support-button">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call support
            </button>
          </div>
          <div>
            <button class="btn btn-lg btn-danger hangup-button" disabled>Hang up</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
